@import url('nav.css');

@import url('footer.css');

.container {
    padding: 20px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-shadow: 0 0 10px var(--bg-middle);
    border-radius: 12px;
}

.projects{
    max-width: 95%;
}

.hire-me{
    padding: 20px;
    box-shadow: 0 0 10px var(--bg-middle);
    border-radius: 12px;
}

.intro-words {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.intro-words-me p {
    margin-left: 20px;
    max-width: 70%;
    font-size: 15px;
}
.intro-words-me p::first-letter{
    font-size: 36px;
    color: var(--shine-color);
}
 h3{
    color: var(--shine-color);
    font-size: 40px;
}

.skills-container, .projects, .hire-me p {
    margin-left: 20px;
}
.my-skills{
    list-style-type: none;
    display: flex;
    overflow: auto;
    width: 100%;

}

.skills-name{
    border: 2px solid var(--shine-color);
    width: fit-content;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 24px;
    color: var(--shine-color);
    cursor: pointer;
    font-size: 24px;

}
.skills-name:hover{
    background: var(--shine-color);
    color: var(--text-color);
    font: bold;
}

.profile-pic-div {
    width: 1500px;
}

.profile-pic-div img {
    width: 80%;
}

.projects {
    display: flex;
    overflow-x: scroll;
    gap: 50px;
    padding: 10px ;
}

.project-card {
    box-shadow:0px 0px 10px var(--shine-color) ;
    /* box-shadow: 0 6px 4px var(--bg-color); */
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
    position: relative;
}

.project-card img {
    width: 200px;
}
.project-card img:hover{
    width:220px;
}
.project-desc h6{
    font: bold;
    font-size: 24px;
    color: var(--shine-color);
}
.project-desc p {
    margin-left: 15px;
    margin-top: 8px;
    font-size: 20px;
}

.hire-me {
    margin: 40px 0;
}

.hire-me p {
    margin-left: 20px;
    font-size: 18px;
}

.contact-me-btn {
 padding: 8px 20px;
 background-color: var(--shine-color);
 border: none;
 color: var(--text-color);
 font-size: 24px;
 border-radius: 10px;
 cursor: pointer;
   
}
.contact-me-btn:hover{
    box-shadow: 0px 0px 10px var(--shine-color);
    color: var(--shine-color);
    background: var(--text-color);
    /* text-decoration: underline; */
}

.project-header{
    margin-top: 50px;
}


/* RESPONSIVENESS */
@media only screen and (max-width: 1024px) {
    /*tablet*/
    .intro {
        flex-wrap: wrap-reverse;
        width: 100%;
        align-items: center;
        gap: 0;
        
    }
    
    .profile-pic-div {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .intro-words {
        width: 100%;
        padding-left: 0;
    }

    h3{
        margin-top: 35px;
        margin-bottom: 5px;
        font-size: 30px;
    }
    
   .my-skills{
    display: flex;
    flex-wrap: wrap;
   }

    .intro-words-me h3{
        font-size: 26px;
    }

    .intro-words-me p{
        width: 100%;
        font-size: 18px;
        margin-left: 20px;
    }
    
    .projects {
        gap: 20px;
        width: 100%;
        display: flex;
    }

    .project-card{
        width: 100%;
    }
    .project-card img {
        width: 200px;
    }
}

@media only screen and (max-width: 768px) {

    /*Phone*/
    .profile-pic-div {
        width: 100%;
    }
    h3{
        margin-top: 15px;
        font-size: 26px;
    }
    .intro-words-me p{
        font-size: 14px;
    }
    
    .projects {
        gap: 15px;
    }
    .project-card img {
        width: 150px;
    }
    .intro-words-me p{
        max-width: 100%;
    }
    .hire-me p a{
        display: block;
    }
    
}