@import url('nav.css');
@import url('footer.css');

.container {
    padding: 20px;
    min-height: 80vh;
    width: 100%;
}

#registerContainer, #loginContainer, #verifyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registerContainer > h1, #loginContainer > h1, #verifyContainer h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
}


#registerContainer {
    display: none;
}

#verifyContainer {
    display: none;
}

form {
    box-shadow: 0 0 4px var(--shine-color);
    padding: 30px 10px;
    border-radius: 10px;
    width: 100%;
}

.for-submit, .bottom-td {
    text-align: center;
}

input {
    box-shadow: 0 0 10px var(--bg-middle);
    border-radius: 12px;
    padding: 20px;
    border: none;
    height: 50px;
    width: 100%;
}

input::placeholder {
    color: var(--text-grey);
    font-size: 18px;
}

td button {
    background-color: var(--shine-color);
    color: var(--text-color);
    padding: 10px 30px;
    border-radius: 20px;
    width: 180px;
    height: 50px;
    font-size: 25px;
    border: none;
}

td button:hover {
    background-color: var(--bg-grey);
    color: var(--shine-color);
    box-shadow: 0px 0px 6px var(--shine-color);
}

#errorPassword {
    white-space: nowrap;
}

.errorPassword {
    padding-left: 2px;
}

.single-error-span {
    font-size: 12px;
}

.validPass {
    color: green;
}

.invalidPass {
    color: red;
}


tr td:nth-child(2) {
    width: 75%;
}

input:focus:not(#passwordInput, #passwordRepeatInput) {
    outline: 2px solid var(--shine-color);
}

table {
    width: 100%;
}

.failed {
    color: red;
    font-size: small;
}

.success {
    color: green;
    font-size: large;
}

#loginErrorSpan {
    margin-left: 30px;
}

#loginErrorSpan ul {
    margin-left: 30px;
}

.link-text {
    color: blue;
    cursor: pointer;
}

#userLoginBtn{
    width: 220px;
}

/* RESPONSIVENESS */

@media only screen and (min-width: 768px) {
    /*Tab*/

    * {
        font-size: 22px;
    }

    form {
        width: 70%;
    }

    .single-error-span {
        font-size: 13px;
    }

    .errorPassword {
        padding-left: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    /*PC*/
    * {
        font-size: 24px;
    }

    form {
        width: 50%;
    }

    .single-error-span {
        font-size: 15px;
    }

    .errorPassword {
        padding-left: 20px;
    }
}
