@import url('nav.css');

@import url('footer.css');

.container {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio{
    font-size: 20px;

    padding: 5px ;
    border-radius: 5px;
    
}
.bio::first-letter{
    font-size: 2rem;
    color: var(--shine-color);    
}

.hero, .main{
    box-shadow: 0 0 12px var(--bg-middle);
    border-radius: 12px;
    padding: 2px;
    margin: 10px 3px;
}

.hero {
    display: flex;
    width: 95%;
    padding: 20px 50px;
    gap: 20px;
    align-items: center;
}

.left-hero {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 5px;
}
#hero-job{
    color: var(--shine-color);
}
.profile-div {
    width: 40%;
}

.profile-img {
    width: 70%;
    height: fit-content;
}


.hero-text {
    font-size: 60px;
}


.cards {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    gap: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.card-bg {
    background-color: var(--shine-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    box-shadow: 0 5px 15px var(--bg-color);
}



.main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    max-width: 95%;
    padding: 60px;
}

.left-div {
    width: 50%;
}

.right-div {
    width: 50%;
}

.contents {
    box-shadow: 0px 0px  20px var(--text-grey);
    padding: 30px;
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 5px;
}

.contents p {
    margin-bottom: 20px;
    font-size: large;
}

h4 {
    font-size: xx-large;
}
.my-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.my-info > div{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.my-info .my-info-title{
    font-weight: bold;
    border-bottom: 2px solid rgb(46, 45, 45);
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 3px;
}
.my-info-icons{
    width: 30px;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 1024px) {

    /*tablet*/
    .hero{
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: relative;
    }

    .right-hero{
        width: 80%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .left-hero{
        display: flex;
        flex-direction: column;
        display: flex;
        width: 90%;
        flex-wrap: nowrap;
        
    }
    
    
    .my-info>tr{
        max-width: 50%;
        
    }
     
    .my-info{
        display: inline-flex;
    }

    .my-info>div{
        width: 50%;
        margin: 5px;
    }

    .main{
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

    }
    .main>div{
        width: 90%;
    }

    #hero-job{
        font-size: 60px;
    }

}

@media only screen and (max-width: 768px) {

    /*Phone*/
    .hero{
        width: 95%;
    }
    .cards{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .card>div{
        width: 80%;
    }
    .hero-text{
        font-size: 25px;
    }

    #hero-job{
        display: block;
        font-size: 50px;
    }
    .hero {
        gap: 5px;
    }
    
    .left-hero {
        gap: 20px;
    }
}