:root{
    --bg-color: #000000ce;
    --text-color: #fff;
    --shine-color: #134074;
    --shine-trans-color: #134074ce;
    --shine-color: #134074;
    --bg-middle: rgba(0,0,0, 0.3);
    --text-grey: grey;
}


*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
    transition: .5S ease-in-out;
}

nav{
    background-color: var(--shine-trans-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    padding-right: 60px;

    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    width: calc(100% - 75px);
    z-index: 2;
    padding: 15px 20px;
    border-radius: 20px;
    justify-self: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 50px;
    padding: 10px;
    padding-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: large;
    font-weight: bold;
    font-family: poppins;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav ul li .active{
    font-weight: bolder;
    color: var(--text-color);
    position: relative;
}

nav ul li .active{
    background-color: var(--text-color);
    color: var(--shine-color);
    position: relative;
}
nav ul li a.active::after {
    content: '';
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    top: -10px;
    left: -20px;
    right: 0px;
    width: 200%;
    height: 65px;
    z-index: -1;
}

#menu-toggle{
    display: none;
}
#menu-btn{
    display: none;
    font-size: 30px;
}
.all-menu{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    position: relative;
}

/* common css */
.failed{
    color: red;
    font-size: small;
}
.success{
    color: green;
    font-size: large;
}
#errorSpan{
    margin-left: 30px;
}

#errorSpan ul{
    margin-left: 30px;
}
.invalid{
    outline: 2px solid red;
}
.valid{
    outline: 2px solid green;
}

table{
    width: 100%;
}
tr td:nth-child(2){
    width: 75%;
}

.container{
    min-height: 90vh;
    max-width: 100%;
    overflow-x: hidden;
    margin-top: 90px;
}
textarea:focus, input:focus:not(#passwordInput):not(#passwordRepeatInput) {
    outline: 2px solid var(--shine-color);
}


@media only screen and (max-width: 768px){
    /*Phone*/
    .menu{
        display: none;
    }
    #menu-btn{
        display: block;
    }
    #menu-toggle:checked ~ .menu{
        display: flex;
    }

    #menu-btn::before {
        content: "\2630";
    }
    #menu-toggle:checked + #menu-btn::before {
        content: "\2716";
    }
    .menu{
        position: absolute;
        top: 65px;
        background-color: var(--shine-trans-color);
        padding: 50px;
        flex-direction: column;
        gap: 15px;
        border-radius: 20px;
        box-shadow: 5px 5px 1000px var(--shine-color);
        z-index: 2;
    }
    .menu li a{
        color: var(--text-color);
    }

    .container{
        margin-top: 80px;
    }
   
    nav ul li .active{
        font-weight: bolder;
        text-decoration: underline;
        color: var(--text-color);
        background-color: transparent;
        position: relative;
    }
    nav ul li a.active::after{
        content: '';
        display: none;
    }
}

