@import 'nav.css';

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-content {
    text-align: center;
}

.card-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 20px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}