@import '../../css/nav.css';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
    transition: .5S ease-in-out;
}

:root{
    --bg-color: #000000ce;
    --text-color: #fff;
    --shine-color: #134074;
    --shine-trans-color: #134074ce;
    --shine-color: #134074;
    --bg-middle: rgba(0,0,0, 0.3);
    --text-grey: grey;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    background-color: #134074;
    color: #fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo h2 {
    font-size: 24px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 10px 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.menu li a:hover, .menu li .active {
    background-color: #fff;
    border-radius: 10px;
    color: black;
}

.content {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.title{
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
        padding: 20px;
    }
}
